@model TabsModel


<h2 id="nav-tabs">@Model.Title</h2>
<div class="bs-component">

    <ul class="nav nav-tabs">
        @{ bool isActiveClass = true; }
		@foreach(var tab in Model.TabList){
            string activeClass = isActiveClass ? "active" : "" ;

            if(tab.DropDownContents != null){
                <li class="dropdown @activeClass">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @tab.Title <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                @{ int dropdownCounter = 0;}
                @foreach(var dropdown in tab.DropDownContents) {
                        <li><a href="#@dropdown.AnchorID" data-toggle="tab">@dropdown.Title</a></li> 
                        if(tab.DropDownContents.Count > dropdownCounter + 1){
                        <li class="divider"></li>
                        }
                        dropdownCounter++;
                }
                    </ul>
                </li>
            } else {
                <li class="@activeClass"><a href="#@tab.AnchorID" data-toggle="tab">@tab.Title</a></li>
            }

            isActiveClass = false;
		}
    </ul>

    <div id="myTabContent" class="tab-content">
        @{ isActiveClass = true; }
		@foreach(var tab in Model.TabList){
            string activeClass = isActiveClass ? "active in" : "" ;
            
            if(tab.DropDownContents != null) {
                foreach(var dropdown in tab.DropDownContents) {
            <div class="tab-pane fade @activeClass" id="@dropdown.AnchorID">
                <p>@dropdown.Description</p>
            </div>                
                }                
            } else {
            <div class="tab-pane fade @activeClass" id="@tab.AnchorID">
                <p>@tab.Description</p>
            </div>
            }

            isActiveClass = false;
		}
    </div>
</div>
