@model List<MyFirstApp.Models.Movie>
@using MyFirstApp.Code.Helper;

@* @MovieHelper.DisplayMovies(Model) *@
    
    <table class="table table-striped">
    <thead>
        <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ReleaseDate</th>
        <th>Genre</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model) {
            <tr>
            <th scope="row">@movie.ID</th>
            <td>@movie.ID</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Genre</td>
            <td>@movie.Price</td>
            </tr>
        }
    </tbody>
    </table>